h1 {
    font-size: 30px;
    color: rgb(173, 30, 126);
    font-family: 'Open Sans';
    }

h2 {
    font-size: 25px;
    color: rgb(45, 23, 167);
    font-family: 'Open Sans';
    }

.menu {
    text-align: center;
    background-color: rgb(205, 218, 31);
    color: rgb(21, 151, 134);
    width: 100px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    }

#texto{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(204, 187, 187);
    margin: 0 auto;
}

p {
    font-family: 'Open Sans';
    font-size: 14px;
    color: rgb(148, 58, 58);
    line-height: 18px;
    margin-bottom: 20px;
    }

.mienlace{
    top: 50%;
    color: rgb(30, 170, 42);
    font-family: 'Open Sans';
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

html, 
body {
    width: 70%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}
